## `Pastikan klik 'File > Save a copy in Drive' sebelum memulai pengerjaan`

# Menulis Kode Python Pertamamu

## Tujuan

Setelah menyelesaikan lab ini, kamu akan mampu untuk:

*   Menulis kode dasar Pyhton
*   Bekerja dengan berbagai tipe objek di Pyhton
*   Mengonversi tipe objek ke tipe objek lainnya
*   Menggunakan ekspresi dan variable untuk melakukan operasi perhitungan
*   Koleksi Data

# Daftar Isi

Katakan "Halo" dunia pada Pyhton
* Pyhton versi berapa yang anda gunakan?
* Menuliskan komen di Pyhton?
* Kesalahan dalam Python
* Apakah Pyhton tahu kesalahan yang kamu lakukan sebelum menjalankan kode?
* Latihan: Program pertamamu di Pyhton

Tipe objek di Python
* Integers
* Floats
* Mengonversi dari tipe object ke tipe data yang lain
* Tipe data boolean
- Latihan: Tipe-tipe data

Ekspresi dan variable
- Ekspresi
- Latihian: Ekspresi
- Variabel
- Latihan: variabel

Koleksi Data
- List
- Tuple
- Set
- Dictionary

Mini Task

# Katakan "Halo" dunia pada Pyhton

Saat mempelajari bahasa pemrograman baru, biasanya dimulai dengan contoh "hello world". Sesederhana itu, satu baris kode ini akan memastikan bahwa kita tahu cara mencetak string dalam output dan cara mengeksekusi kode di dalam sel di notebook.

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Untuk mengeksekusi kode Python di sel kode di bawah ini, klik pada sel untuk memilihnya dan tekan <kbd>Shift</kbd> + <kbd>Enter</kbd>.
</div>
<hr/>

In [ ]:
# Coba hasilkan Python pertamamu

print('Halo, Python!')

Halo, Python!

Setelah mengeksekusi sel di atas, kamu akan melihat bahwa Python mencetak <code>Halo, Python!</code>. Selamat menjalankan kode Python pertamamu!

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>print()</code> adalah sebuah fungsi. Kamua memberikan string <code>'Halo, Python!'</code> sebagai argumen untuk menginstruksikan Python tentang apa yang harus dicetak.
</div>
<hr/>

<h3 id="version">Versi Python apa yang kita gunakan?</h3>

<p>
    Ada dua versi populer bahasa pemrograman Python yang digunakan saat ini: Python 2 dan Python 3. Komunitas Python telah memutuskan untuk beralih dari Python 2 ke Python 3, dan banyak perpustakaan populer telah mengumumkan bahwa mereka tidak lagi mendukung Python 2.
</p>
<p>
    Karena Python 3 adalah masa depan, dalam kursus ini kita akan menggunakannya secara eksklusif. Bagaimana kita tahu bahwa notebook kita dieksekusi oleh runtime Python 3?
</p>
<p>
    Kita bisa menanyakan Python secara langsung dan mendapatkan jawaban yang detail. Coba jalankan kode berikut:
</p>

In [ ]:
# Periksa Versi Python

import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] <code>sys</code> adalah modul bawaan yang berisi banyak parameter dan fungsi khusus terkait sistem, termasuk versi Python yang digunakan. Sebelum menggunakannya, kita harus secara eksplisit <code>import</code>.
</div>
<hr/>

<h3 id="comments">Menulis komentar dengan Python</h3>

<p>
    Selain menulis kode, perhatikan bahwa selalu ada baiknya menambahkan komentar ke kode Anda. Ini akan membantu orang lain memahami apa yang ingin Anda capai (alasan mengapa Anda menulis potongan kode tertentu). Hal ini tidak hanya membantu <strong>orang lain</strong> memahami kode Anda, tetapi juga berfungsi sebagai pengingat <strong>kepada Anda</strong> saat Anda kembali ke kode tersebut beberapa minggu atau bulan kemudian.</p>

<p>
    Untuk menulis komentar dengan Python, gunakan simbol angka <code>#</code> sebelum menulis komentar Anda. Saat Anda menjalankan kode Anda, Python akan mengabaikan semua yang melewati <code>#</code> pada baris tertentu.
</p>

In [1]:
# Latihan menulis komentar

print('Halo, Python!') # Baris ini mencetak sebuah string (teks)
# print('Hi')

Halo, Python!

<p>
    Setelah mengeksekusi sel di atas, Anda harus memperhatikan bahwa <code>Baris ini mencetak string</code> tidak muncul di output, karena itu adalah komentar (dan dengan demikian diabaikan oleh Python).
</p>
<p>
    Baris kedua juga tidak dieksekusi karena <code>print('Hi')</code> juga didahului dengan tanda angka (<code>#</code>)! Karena ini bukan komentar penjelasan dari pemrogram, tetapi baris kode yang sebenarnya, kita dapat mengatakan bahwa pemrogram <em>mengomentari</em> baris kode kedua itu.
</p>

<h3 id="errors">Kesalahan dalam Python</h3>

<p>Setiap orang membuat kesalahan. Untuk banyak jenis kesalahan, Python akan memberi tahu Anda bahwa Anda telah melakukan kesalahan dengan memberi Anda pesan kesalahan. Penting untuk membaca pesan kesalahan dengan hati-hati untuk benar-benar memahami di mana Anda membuat kesalahan dan bagaimana cara memperbaikinya.</p>
<p>Misalnya, jika Anda mengeja <code>print</code> sebagai <code>frint</code>, Python akan menampilkan pesan kesalahan. Cobalah:</p>

In [2]:
# Cetak string sebagai pesan kesalahan

frint("Hello, Python!")

NameError: name 'frint' is not defined

<p>Pesan kesalahan memberi tahu Anda:
<ol>
    <li>di mana kesalahan terjadi (lebih berguna di sel atau skrip notebook besar), dan</li>
    <li>kesalahan seperti apa itu (NameError)</li>
</ol>
<p>Di sini, Python mencoba menjalankan fungsi <code>frint</code>, tetapi tidak dapat menentukan apa itu <code>frint</code> karena ini bukan fungsi bawaan dan belum ditentukan sebelumnya oleh kami juga.</p>

<p>
    Anda akan melihat bahwa jika kita membuat jenis kesalahan yang berbeda, dengan lupa menutup string, kita akan mendapatkan kesalahan yang berbeda (yaitu <code>SyntaxError</code>). Coba di bawah ini:
</p>

In [6]:
# Coba lihat pesan kesalahan bawaan

print('Halo, Python"s!')

Halo, Python"s!

<h3 id="python_error">Apakah Python mengetahui kesalahanmu sebelum menjalankan kode Anda?</h3>

Python adalah apa yang disebut <em>bahasa yang ditafsirkan</em>. Bahasa yang dikompilasi memeriksa seluruh program Anda pada waktu kompilasi, dan dapat memperingatkan Anda tentang seluruh kelas kesalahan sebelum dieksekusi. Sebaliknya, Python menginterpretasikan skrip Anda baris demi baris saat mengeksekusinya. Python akan berhenti menjalankan seluruh program ketika menemui kesalahan (kecuali kesalahan diharapkan dan ditangani oleh programmer).

Coba jalankan kode di sel di bawah ini dan lihat apa yang terjadi:

In [7]:
# Cetak string dan error untuk melihat urutan yang sedang berjalan (CTRL + /)

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

<h3 id="exercise">Latihan: Program Pertama Anda</h3>

<p>Generasi pemrogram telah memulai karier pengkodean mereka hanya dengan mencetak "Hello world!". Anda akan mengikuti jejak mereka.</p>
<p>Dalam sel kode di bawah, gunakan fungsi <code>print()</code> untuk mencetak frasa: <code>Hello world!</code></p>

In [1]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
print("Hello World!")

Hello World!

<details><summary>Klik di sini untuk solusinya</summary>

```python
print("Hello world!")

```

</details>

<p>Sekarang, mari tingkatkan kode Anda dengan komentar. Di sel kode di bawah ini, cetak frasa: <code>Hello world!</code> dan beri komentar dengan frasa <code>Cetak halo dunia</code> semuanya dalam satu baris kode.</p >

In [5]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
print("Hello World!")

Hello World!

<details><summary>Klik di sini untuk solusinya</summary>

```python
print("Hello world!") # Cetak halo dunia

```

</details>

<hr>

<h2 id="types_objects" align="center">Tipe objek di Python</h2>

<p>Python adalah bahasa berorientasi objek. Ada banyak jenis objek di Python. Mari kita mulai dengan jenis objek yang paling umum: <i>string</i> (teks), <i>integer</i> (bilangan bulat) dan <i>float</i> (bilangan real). Setiap kali Anda menulis kata (teks) dengan Python, Anda menggunakan <i>string</i> (disingkat str). Sebaliknya, angka yang paling umum adalah <i>integer</i> (disingkat int, mis. -1, 0, 100) dan <i>float</i> (tidak disingkat), yang mewakili bilangan real (mis. 3.14, -42.0). </p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p>Sel kode berikut berisi beberapa contoh.</p>

In [11]:
# Integer

11

11

In [12]:
# Float

2.14

2.14

In [13]:
# String

"Hello Python 101!"

'Hello Python 101!'

<p>Anda bisa membuat Python memberi tahu tipe objek dengan menggunakan fungsi <code>type()</code> bawaan. Anda akan melihat bahwa Python merujuk integer sebagai <code>int</code>, float sebagai <code>float</code>, dan string karakter sebagai <code>str</code>.</p>

In [ ]:
# Tipe 12

type(12)
type('aan')

<class 'int'>

In [15]:
# Tipe 2.14

type(2.14)

float

In [16]:
# Tipe "Hello, Python 101!"

type("Hello, Python 101!")

str

<p>Dalam sel kode di bawah, gunakan fungsi <code>type()</code> untuk memeriksa tipe objek <code>12.0</code>.

In [10]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
type(12.0)

float

<details><summary>Klik di sini untuk solusinya</summary>

```python
type(12.0)

```

</details>

<h3 id="int" align="center">Integer (bilangan bulat)</h3>

<p>Berikut adalah beberapa contoh integer. Bilangan bulat dapat berupa bilangan negatif atau positif:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

<p>Kita dapat memverifikasi hal ini dengan menggunakan? Anda dapat menebaknya, yaitu dengan fungsi <code>type()</code>:

In [17]:
# Cetak tipe -1

type(-1)

int

In [18]:
# Cetak tipe 4

type(4.0)

float

In [19]:
# Cetak tipe 0

type(0)

int

<h3 id="float" align="center">Floats (bilangan real)</h3>

<p>Float mewakili bilangan real. Mereka adalah superset dari integer tetapi juga termasuk "angka dengan desimal". Ada beberapa batasan saat Python merepresentasikan float. Anda dapat mempelajari lebih lanjut tentang spesifikasi float pada runtime dengan memeriksa nilai <code>sys.float_info</code>. Ini juga akan memberi tahu berapa angka terbesar dan terkecil yang dapat direpresentasikan</p>

<p>Sekali lagi, kita menguji beberapa contoh dengan fungsi <code>type()</code>:

In [20]:
# Cetak tipe 1.0

type(1.0) # Perhatikan bahwa 1 adalah int, dan 1.0 adalah float

float

In [21]:
# Cetak tipe 0.5

type(0.5)

float

In [22]:
# Cetak tipe 0.56

type(0.56)

float

<h3 id="convert" align="center">Mengonversi dari satu jenis objek ke jenis objek lain</h3>

Anda dapat mengubah jenis objek dalam Python. Ini disebut **typecasting**. Misalnya, Anda dapat mengonversi <i>integer</i> menjadi <i>float</i> (mis. 2 ke 2.0).
<p>Mari kita coba:</p>

In [23]:
# Verifikasi bahwa ini adalah integer

type(2)

int

<h4>Mengonversi integer menjadi float</h4>
<p>Mari kita mengonversi integer 2 menjadi float:</p>

In [24]:
# Ubah 2 menjadi float

float(2)

2.0

In [25]:
# Ubah integer 2 menjadi float dan periksa jenisnya

type(float(2))

float

<p>Ketika kita mengonversi integer menjadi float, kita tidak benar-benar mengubah nilai (yaitu, signifikansi) angka tersebut. Namun, jika kita mengonversi float menjadi integer, kita berpotensi kehilangan beberapa informasi. Misalnya, jika kita mengonversi float 1.1 ke integer, kita akan mendapatkan 1 dan kehilangan informasi desimal (mis., 0,1):</p>

In [27]:
# Mengonversi 1.1 ke bilangan bulat akan mengakibatkan hilangnya informasi

int(1.1)

1

<h4>Mengonversi dari string ke integer atau float</h4>

<p>Terkadang, kita dapat memiliki string yang berisi angka di dalamnya. Jika demikian, kita dapat mengonversi string yang mewakili angka menjadi integer menggunakan <code>int()</code>:</p>

In [28]:
# Ubah string menjadi integer

int('1')

1

<p>Namun jika Anda mencoba melakukannya dengan string yang tidak cocok untuk sebuah angka, Anda akan mendapatkan kesalahan. Coba yang berikut ini:</p>

In [29]:
# Ubah string menjadi bilangan bulat dengan kesalahan

int('1 atau 2 orang')

ValueError: invalid literal for int() with base 10: '1 atau 2 orang'

<p>Anda juga dapat mengonversi string yang berisi float menjadi objek <i>float</i>:</p>

In [30]:
# Ubah string "1.2" menjadi float

float('1.2')

1.2

<jam/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
     [Kiat:] Perhatikan bahwa string dapat direpresentasikan dengan tanda kutip tunggal (<code>'1.2'</code>) atau tanda kutip ganda (<code>"1.2"</code>), tetapi Anda tidak dapat menggabungkan keduanya (mis. , <kode>"1.2'</kode>).
</div>
<jam/>

<h4>Mengonversi angka menjadi string</h4>

Jika kita dapat mengonversi string menjadi angka (*int* atau *float*), wajar kita berasumsi bahwa kita dapat mengonversi angka (*int* atau *float*) menjadi string, bukan?

In [31]:
# Mengonversi integer menjadi string

str(1)

'1'

Dan kita juga dapat mengonversi float menjadi string

In [32]:
# Konversi float menjadi string

str(1.0)

'1.0'

<h3 id="bool" align="center">Tipe objek Boolean</h3>

<p><i>Boolean</i> adalah tipe penting lainnya di Python. Objek bertipe <i>Boolean</i> dapat mengambil salah satu dari dua nilai: <code>True</code> atau <code>False</code>:</p>

In [33]:
# Nilai True

True

True

<p>Perhatikan bahwa nilai <code>True</code> memiliki huruf besar "T". Hal yang sama berlaku untuk <code>False</code> (yaitu Anda harus menggunakan huruf besar "F").</p>

In [34]:
# Nilai False

False

False

<p>Saat Anda meminta Python untuk menampilkan jenis objek boolean, ia akan menampilkan <code>bool</code> yang merupakan singkatan dari <i>boolean</i>:</p>

In [35]:
# Tipe True

type(True)

bool

In [36]:
# Tipe False

type(False)

bool

<p>Kita dapat mengonversi tipe objek boolean ke tipe objek lain. Jika kita mengonversi boolean <code>True</code> ke integer atau float, kita akan mendapatkan <code>1</code>. Jika kita mengonversi boolean <code>False</code> ke integer atau float, kita akan mendapatkan <code>0</code>. Demikian pula, jika kita mentransmisikan <code>1</code> ke Boolean, Anda mendapatkan <code>True</code>. Dan jika kita mentransmisikan <code>0</code> ke Boolean, kita akan mendapatkan <code>False</code>. Mari kita coba:</p>

In [37]:
# Mengonversi True ke int

int(True)

1

In [38]:
# Mengonversi 1 menjadi boolean

bool(1)

True

In [44]:
# Ubah 0 menjadi boolean

bool(-1.1)

True

In [40]:
# Konversi True ke float

float(True)

1.0

In [11]:
bool(0)

False

<h3 id="exer_type">Latihan!</h3>

<p>Apa tipe objek dari hasil: <code>6 / 2</code>?</p>

In [13]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
# type(6/2)
type(6/2)

float

<details><summary>Klik di sini untuk solusinya</summary>

```python
type(6/2) # float

```

</details>

<p>Apa jenis hasil dari: <code>6 // 2</code>? (Perhatikan garis miring ganda <code>//</code>.)</p>

In [14]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
type(8//2)

int

<details><summary>Klik di sini untuk solusinya</summary>

```python
type(6//2) # int, as the double slashes stand for integer division

```

</details>

<hr>

<h2 id="expressions" align="center">Expression and Variables</h2>

<h3 id="exp">Expressions</h3>

<p>Ekspresi dalam Python dapat menyertakan operasi di antara tipe yang kompatibel (mis., integer dan float). Misalnya, operasi aritmatika dasar seperti menambahkan beberapa angka:</p>

In [50]:
# Ekspresi operasi penambahan

43 + 60 + 16 + 41

160

<p>Kita dapat melakukan operasi pengurangan menggunakan operator minus. Dalam hal ini hasilnya adalah angka negatif:</p>

In [51]:
# Ekspresi operasi pengurangan

50 - 60

-10

<p>Kita dapat melakukan perkalian menggunakan tanda bintang:</p>

In [52]:
# Ekspresi operasi perkalian

5 * 5

25

<p>Kita juga bisa melakukan pembagian dengan garis miring:

In [53]:
# Ekspresi operasi pembagian

25 / 5

5.0

In [54]:
# Ekspresi operasi pembagian

25 / 6

4.166666666666667

<p>Seperti yang terlihat pada kuis di atas, kita dapat menggunakan garis miring ganda untuk pembagian bilangan bulat, di mana hasilnya dibulatkan ke bilangan bulat terdekat:

In [55]:
# Ekspresi operasi pembagian bilangan bulat

25 // 5

5

In [56]:
# Ekspresi operasi pembagian bilangan bulat

25 // 6

4

<h3 id="exer_exp">Latihan!</h3>

<p>Mari tulis kode yang menghitung berapa jam dalam 160 menit:

In [ ]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
A = 160/60
print(A)

2.6666666666666665

<details><summary>Klik di sini untuk solusinya</summary>

```python
160/60

# Or

160//60

```

</details>

<p>Python mengikuti konvensi matematika yang diterima dengan baik saat mengevaluasi ekspresi matematika. Dalam contoh berikut, Python menambahkan 30 ke hasil perkalian (yaitu, 120).

In [58]:
# Mathematical expression

30 + 2 * 60

150

<p>Dan seperti halnya matematika, ekspresi yang diapit tanda kurung memiliki prioritas. Jadi perkalian berikut 32 dengan 60.

In [60]:
# Ekspresi matematika

(30 + 2) * 60

1920

<h3 id="var">Variabel</h3>

<p>Sama seperti kebanyakan bahasa pemrograman, kita dapat menyimpan nilai dalam <i>variabel</i> sehingga kita dapat menggunakannya nanti. Misalnya:</p>

In [61]:
# Menyimpan nilai ke dalam variabel

x = 43 + 60 + 16 + 41

<p>Untuk melihat nilai <code>x</code> dalam Notes, kita cukup meletakkannya di baris terakhir sel:</p>

In [17]:
# Cetak nilai dalam variabel
x = 43 + 60 + 16 + 41
# print(x)
print(x)

160

In [72]:
data = 5**25

In [18]:
data

NameError: name 'data' is not defined

In [70]:
test = 100 / 5.5
test

18.181818181818183

In [68]:
test

'Cek dulu'

<p>Kita juga dapat melakukan operasi pada <code>x</code> dan menyimpan hasilnya ke variabel baru:</p>

In [64]:
# Gunakan variabel lain untuk menyimpan hasil operasi antara variabel dan nilai

y = x / 60
y

2.6666666666666665

<p>Jika kita menyimpan nilai ke variabel yang sudah ada, nilai baru akan menimpa nilai sebelumnya:</p>

In [76]:
x # 1st x value

2.6666666666666665

In [75]:
# Timpa variabel dengan nilai baru

x = x / 60
x

2.6666666666666665

<p>Sebaiknya gunakan nama variabel yang bermakna, sehingga Anda dan orang lain dapat membaca kode dan memahaminya dengan lebih mudah:</p>

In [77]:
# Beri nama variabel dengan penuh arti

total_min = 43 + 42 + 57 # Total panjang album dalam hitungan menit
total_min

142

In [80]:
# Beri nama variabel dengan penuh arti

total_hours = total_min / 60 # Total panjang album dalam hitungan jam
total_jam = total_hours
total_jam

2.3666666666666667

<p>Dalam sel di atas kami menambahkan panjang tiga album dalam hitungan menit dan menyimpannya dalam <code>total_min</code>. Kami kemudian membaginya dengan 60 untuk menghitung panjang total <code>total_hours</code> dalam jam. Anda juga dapat melakukan semuanya sekaligus dalam satu ekspresi, selama Anda menggunakan tanda kurung untuk menambahkan panjang album sebelum Anda membaginya, seperti yang ditampilkan di bawah.</p>

In [79]:
# Ekspresi Rumit

total_hours = (43 + 42 + 57) / 60  # Total jam dalam satu ekspresi
total_hours

2.3666666666666667

<p>Jika Anda lebih suka memiliki total jam sebagai bilangan bulat, tentu saja Anda dapat mengganti pembagian floating point dengan pembagian bilangan bulat (yaitu, <code>//</code>).</p>

<h3 id="exer_exp_var">Latihan!</h3>

<p>Berapa nilai <code>x</code> di mana <code>x = 3 + 2 * 2</code></p>

In [19]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
x = 3 + 2 *2
print(x)

7

<details><summary>Klik di sini untuk solusinya</summary>

```python
7

```

</details>

<p>Berapa nilai <code>y</code> di mana <code>y = (3 + 2) * 2</code>?</p>

In [20]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
y = (3+2)*2
print(y)

10

<details><summary>Klik di sini untuk solusinya</summary>

```python
10

```

</details>

<p>Berapa nilai <code>z</code> di mana <code>z = x + y</code>?</p>

In [21]:
# Tulis kode Anda di bawah ini. Jangan lupa tekan Shift+Enter untuk mengeksekusi sel
z = x+y
print(z)

17

<details><summary>Klik di sini untuk solusinya</summary>

```python
17

```

</details>

<h2 id="expressions" align="center">Collection of Objects</h2>

Koleksi = suatu "variabel" yang digunakan untuk menyimpan banyak nilai.

|Tipe Koleksi                      |Diskripsi     |Duplikat |
|:------------------------------|:---------|:-----------|
List = [ ] | berurut & dapat diubah| OK
Set = { } | tidak berurut & tidak dapat diubah, namun Add/Remove OK | NO
Tuple = ( ) | berurut & tidak dapat diubah. Lebih Cepat | OK
Dictionary = {} | tidak berurut & dapat diubah (indexing) | NO

### [LIST]

Jenis koleksi pertama yang akan kita pelajari adalah yang paling sering kita gunakan: **LIST**.

List adalah kumpulan objek yang **diurutkan** dan **dapat diubah**.\
Ada berbagai cara untuk membuat daftar.

In [87]:
# umumnya, gunakan tanda kurung siku [] untuk membuat list
list1 = [1, 2, 3, 4, 3, 2, 1]
list2 = list( ("1", "2", 1, 2) )
list3 = [] # creates an empty list
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 3, 2, 1]
['1', '2', 1, 2]
[]

Karena daftar diurutkan, kita dapat memanggilnya berdasarkan indeks.\
Kami juga dapat mengurutkannya dalam beberapa urutan.

Objek atau elemen dalam list dapat dipanggil dengan menggunakan index.\
Perhatikan bahwa **indeks Python dimulai dari 0**.\
**Elemen terakhir dapat diindeks sebagai -1**.\
<img src="https://www.aipython.in/wp-content/uploads/2020/02/Index_in_python-list.png" width="660" />

In [88]:
print(list1[5])
print(sorted(list1))

2
[1, 1, 2, 2, 3, 3, 4]

List bisa berubah, artinya kita bisa memodifikasi elemen di dalamnya.\
Kita dapat melakukan deklarasi langsung ke elemen yang diindeks, atau kita dapat meletakkan beberapa metode di sana.

In [92]:
A = [1, 2, 3]
A

[1, 2, 3]

In [93]:
A[0] = 3
A

[3, 2, 3]

### {SET}

Koleksi selanjutnya adalah *set*.

Kumpulan adalah kumpulan objek yang **unordered** dan **unik**.\
Ada berbagai cara untuk membuat set.

In [ ]:
set1 = {"three", 1, 4, 2}
a = (1, "1", 1, 2)
set2 = set(a)
set3 = {} # creates an empty set
print(set1)
print(set2)
print(set3)
print(type(a))
print(type(set2))

{1, 2, 'three', 4}
{'1', 1, 2}
{}
<class 'tuple'>
<class 'set'>

Karena set adalah koleksi yang tidak diurutkan, kami tidak dapat memanggil elemen berdasarkan indeks.

In [ ]:
print(set1[2])

TypeError: 'set' object is not subscriptable

Set bisa berubah: elemen di dalam set dapat dimodifikasi.

Metode umum adalah .add(), .discard(), dan .clear().

In [ ]:
set4 = {3, 5, "ten", False}
print(set4)

set4.add(9)
print(set4)

set4.add(3)
print(set4)

set4.add("ab")
print(set4)

set4.discard("ten")
print(set4)

set4.discard("huh?")
print(set4)

set4.clear()
print(set4)

{False, 3, 'ten', 5}
{False, 3, 'ten', 5, 9}
{False, 3, 'ten', 5, 9}
{False, 3, 'ten', 5, 9, 'ab'}
{False, 3, 5, 9, 'ab'}
{False, 3, 5, 9, 'ab'}
set()

### (Tuple)

Koleksi selanjutnya adalah Tuple.
Tuple adalah kumpulan objek yang dipesan dan tidak dapat diubah.
Ada berbagai cara untuk membuat tuple.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/TuplesIndex.gif" width="750" align="center">

In [ ]:
# umumnya, gunakan tanda kurung biasa () untuk membuat tuple
tuple1 = (1,1, 2, "three", 4)
tuple2 = tuple((1, True, 1, "false"))
tuple3 = () # creates an empty tuple
print(tuple1)
print(tuple2)
print(tuple3)

(1, 1, 2, 'three', 4)
(1, True, 1, 'false')
()

Tuple tidak dapat diubah.
Setelah tuple dibuat, kita tidak dapat memodifikasinya.

In [ ]:
tuple4 = ('a', 'b', 'c')
tuple4[0] = 'A'
print(tuple4)

TypeError: 'tuple' object does not support item assignment

### {Dictionary}

Koleksi selanjutnya adalah dictionary.
Koleksi ini adalah pasangan key value dari objek.
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/DictsList.png" width="650" />

In [96]:
# dictionary juga menggunakan kurung kurawal {} untuk dibuat

luffy = {
    "Full Name": "Monkey D. Luffy",
    "Nama panggilan":"Luffy",
    "Occupation": "Pirate",
    "Age": 19,
    "Origin": "East Blue"
}

print(luffy["Full Name"])
print("usia ",str(luffy["Age"]))

Monkey D. Luffy
usia  19

# Mini TASK

Buatlah Biodata diri selengkap mungkin dengan menggunakan Dictionary. Kemudian coba dengan menggunakan key, tampilkan nama panggilan Anda!